<div class="container text-center">
  <h1 class="portfolioComponent text-uppercase">contact section</h1>
  <div class="d-flex align-items-center justify-content-center col-12 mb-3">
    <div class="line me-3"></div>
    <i class="fa fa-star" aria-hidden="true"></i>
    <div class="line ms-3"></div>
  </div>
</div>
<div class="mb-4">
  <form action="" class="w-50 mx-auto mt-4">
      <label for="userName" class="position-relative top-0" [class.goTop]="!userName.length">userName : </label>
      <input id="userName" type="text" class="form-control border-0 border-bottom py-3 position-relative" [(ngModel)]="userName" placeholder="userName" name="userName">

      <label for="userAge" class="position-relative top-0" [class.goTop]="!userAge.length">userAge : </label>
      <input id="userAge" type="text" class="form-control border-0 border-bottom py-3 position-relative" [(ngModel)]="userAge" placeholder="userAge" name="userName">

      <label for="userEmail" class="position-relative top-0" [class.goTop]="!userEmail.length">userEmail : </label>
      <input id="userEmail" type="text" class="form-control border-0 border-bottom py-3 position-relative" [(ngModel)]="userEmail" placeholder="userEmail" name="userName">

      <label for="userPassword" class="position-relative top-0" [class.goTop]="!userPassword.length">userPassword : </label>
      <input id="userPassword" type="text" class="form-control border-0 border-bottom py-3 position-relative" [(ngModel)]="userPassword" placeholder="userPassword" name="userName">

      <button class="btn text-white mt-4">send Message</button>


  </form>
</div>