/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #2C3E50 !important;
    --secondary-color: #1ABC9C !important;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    scroll-behavior: smooth;
}

.line {
    width: 80px;
    height: 4.5px;
    background-color: white;
}