<div class="homeBody justify-content-center align-items-center">
  <div class="container text-center">
    <div class="row">
      <div class="col-12">
        <img src="./assets/images/avataaars.svg" class="my-5">
      </div>
      <h1 class="text-uppercase">Start Framework</h1>
      <div class="d-flex align-items-center justify-content-center col-12 mb-3">
        <div class="line me-3"></div>
        <i class="fa fa-star" aria-hidden="true"></i>
        <div class="line ms-3"></div>
      </div>
      <div class="pb-3">Graphic Artist - Web Designer - Illustrator</div>
    </div>
  </div>
</div>